*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.todo-app{
    margin-top:200px;
    width:500px;
    height:500px;
    background-color:black;
    box-shadow: 0px 0px 15px #000;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    
}
.inputs input{
    width:100%;
    height:40px;
    padding: 10px;
    outline:none;
}
button{
    width:50%;
    height:40px;
    text-align: center;
    margin:auto;
    color:#000;
    background-color:white;
    border:none;
}
.delete{
    width:20%;
    height:40px;
}
ul li{
    width:100%;
    margin:auto;
    background-color: #000B49;
    list-style: none;
    padding: 5px;
    color:white;
    margin-top:10px;
    border-radius: 50px;
}
ul li button{
    width:40px;
    height: 40px;
    background-color:white;
    color:black;
    margin-left: 70%;
    font-size: 20px;
    border-radius: 50px;
}
.add{
    width:60px;
    height: 40px;
    background-color:white;
    color:black;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 10px;
}